body{
    font-family: arial;
}
#header{
    float: right;
}

img{
    /* margin-left: 200px; */
    padding-left: 17%;
    margin-top: 30px;
    height: 50%;
    width: 50%;
}


.search_bar{  
    border-radius: 15px;
    width: 50%; 
    height: 25px;

    
}
.sub{
    
    margin-top: 12px;
    border-radius: 4px;
    height: 25px;
    width: 100px;
    
}
#footer{
    float: right;
    width: 40%;
}
@media (max-width:900px){
    img{
        width: 50%;
        height: 50%;
        padding-left: 10%;

    
    }
    .form1{
        width: 100%;
    }
    .search_bar{
        width: 70%;
    }
    /* .sub,button{
        height: 10%;
    } */
    #header>button{
        height: 25px;
        /* color: red; */
    }
    #header{
        width: 100%;
        float: right;
    }
    .sub,.sub2{
         height: 4%;
         width: 30%;
    }
}
@media(max-width:420px){
    #header>button{
        font-size: 12px;
        /* color: blue; */
        height: 26px;
        font-weight: bold;
    }
    img{
       padding-right: 4%;
       padding-top: 40%;
    }       
    #img_container{
        padding-right: 100px;
    }
    .search_bar{
        width: 70%;
    }
    .sub{
        
        width: 30%;
        /* font-size: 50%; */
    }
    .sub1{
        width: 50%;
    }
   #footer{
       width: 75%;
       font-size: 70%;
       height: 20%;
       
   }
   .sub,.sub1{
            font-weight: 2px;
      
   }
}
