
#divn1{
    width:100%;
}

#divn2{
    width:100%;
}

#divn3{
    width:100%;
}

#divn4{
    width:100%;
}

#divn5{
    width:100%;
}

#divn6{
    width:100%;
}

#container{
    padding: 30px;
      /* background-image: url("img/premier.jpeg");  */
}
 body{
    background-image: url("img/premier.jpeg");
} 

#d1{
    color: white;
    font-size: 60px;
    font-weight: bold;
}
#d2{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.list{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.list:hover{
    color:rgb(0, 0, 255)
}
#divn1{
    background-image: url("img/livlogo.jpg");
    background-position:left center;
    color:white;
    font-weight: bold;
}
#divn2{
    background-image: url("img/reallogo.jpg");
    background-position: center;
    color: white;
    font-weight: bold;
}
#divn3{
    background-image: url("img/munich.jpg");
    background-position:left center;
    color: white;
    font-weight: bold;
}
#divn4{
    background-image: url("img/juve.jpg");
    background-position:left center;
    color: white;
    font-weight: bold;
}
#divn5{
    background-image: url("img/psglogo.jpg");
    background-position:left center;
    color: white;
    font-weight: bold;
}
#divn6{
    background-image: url("img/ajaxlogo.jpg");
    background-position:left center;
    color: white;
    font-weight: bold;
}
.text{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#info{
    background-image: url("img/ucl.jpeg");
    background-position:top center;
    padding: 30px;
    
    color: white;
    text-align: justify;
}
@media (max-width:430px){
    body{
       background-image: url("img/newlogo.jpg");
    }
    #d1{
        font-size: 20px;

    }
    #d2{
        font-size: 15px;
        text-decoration: underline;
    }
    .list{
        font-size: 17px;
    }
    #info{
        font-size: 9px;
        line-height: 1.4em;
    }
    .text{
        font-size: 15px;
        font-weight: bolder;
    }
    #divn3{
        color:#FFFAFA;
        
    }
    #divn4{
        color:#708090;
        background-position: left;
    }
    #divn6{
        color:black;
        background-position: top left;
    }
}