.about {
  height: 50vh;
  position: relative;
  background-color: #e9ecef;
}
.about article {
  width: 70vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about article h1 {
  font-size: 36px;
  margin-bottom: 20px;
  letter-spacing: -1px;
  color: #212529;
}
.about article p {
  font-size: 16px;
  line-height: 1.5;
  color: #343a40;
}

@media only screen and (max-width: 600px) {
  .about {
    height: 85vh;
  }
  .about article h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .about article p {
    font-size: 12px;
  }
}
