body {
  font-family: "Rubik", sans-serif;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

.card img {
  width: 100%;
  height: 35vh;
  background-position: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  width: 80vw;
  margin: 20px auto;
}

.event-card {
  background-color: #dee2e6;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card--1 {
  /* background-color: #; */
  /* height: 450px; */
}
.card--2 {
  /* background-color: red; */
}
.card--3 {
  /* background-color: red; */
}
.card--4 {
  /* background-color: red; */
  /* height: 450px; */
}
.card--5 {
  /* background-color: red; */
}
.card--6 {
  /* background-color: red; */
}
.card--7 {
  /* background-color: red; */
  /* height: 450px; */
}
.card--8 {
  /* background-color: red; */
}
.card--9 {
  /* background-color: red; */
}

.card .event-card .event-details {
  color: #495057;
  padding: 20px 0px 50px 10px;
  position: relative;
}
.card .event-card .event-details strong,
.card .event-card .event-details h1 {
  color: #212529;
  margin-bottom: 8px;
}
.card .event-card .event-details h1 {
  font-weight: 700;
}
.card .event-card .event-details p {
  font-weight: 400;
  margin-bottom: 4px;
}

.card .event-card .event-details .view-btn {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background-color: #099268;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.card .event-card .event-details .view-btn:hover {
  background-color: #12b886;
}

@media only screen and (max-width: 600px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
  }
}
