/* font size --> 12px / 14px / 16px / 18px / 20px / 24px / 30px / 44px/56px/64px/74px */

body {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.flex-class {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  height: 60px;
  width: auto;
}
header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  gap: 8vw;
  width: 100vw;
}
.header-section {
  background-size: cover;
  /* background-color: red; */
  height: 100vh;
  color: #fff;
}
header a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
header a:hover {
  font-size: 19px;
}
.header-section .overview {
  display: flex;
  width: 80vw;
  /* margin: 0px auto; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-section .overview article {
  width: 60vw;
}
.header-section .overview aside {
  /* background-color: red; */
  width: 40vw;
}

.header-section .overview article h1 {
  font-size: 44px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.header-section .overview article p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.header-section .overview article a {
  text-decoration: none;
  color: #777;
  background-color: #fff;
  display: inline-block;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  border-radius: 100px;
  font-weight: 500;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  header img {
    height: 30px;
    width: auto;
  }
  header {
    gap: 16px;
  }
  header a {
    font-size: 10px;
  }

  .header-section .overview article h1 {
    font-size: 30px;
    letter-spacing: -1px;
    margin-bottom: 15px;
  }
  .header-section .overview article p {
    font-size: 14px;
    line-height: 1.5;
  }
  .header-section .overview article {
    width: 100%;
  }
  .header-section .overview aside {
    width: 0vw;
  }
}
